body {
  background-color: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.landing {
  background-image: url(../images/57e1c530-9d8b-43b2-8fe8-3ad0962721ef.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding-top: 20px;
}
.container {
  width: 80%;
  margin: auto;
  
}

.landing .container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing .container nav .links ul {
  list-style-type: none;
}
.landing .container nav .links ul li {
  display: inline-block;
  padding-right: 10px;

}
.landing .container nav .links ul li a {
  color: #fff;
  text-decoration: none;

}
.landing .container nav .logo{
  color:#fff;
}

.landing .container .middle {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  background-color: #fff;
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.landing .container .middle .desc{
    position: absolute;
    top: 108%;
    left: 17%;
    text-align: center;
    color: #fff;
}

/*--------------------------*/

