body {
    background-color: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
.landing {
  background-image: url(../images/57e1c530-9d8b-43b2-8fe8-3ad0962721ef.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.landing .container {
  padding: 50px;
}
.landing .container .header .left h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
}
.landing .container .header .left,
.landing .container .header .links {
  display: inline-block;
}
.landing .container .header .left{
  margin-right: 25%;
}

.landing .container .header .links ul {
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
}

.landing .container .header .links ul li {
  display: inline-block;
  padding-right: 18px;
  font-size: 14px;
}
.landing .container .header .links ul li a{
  color: #fff;
  text-decoration: none;

}

.landing .container .header .links ul li a:hover{
  text-decoration: underline;
}
.landing .container .header .links .right{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.landing .container .header .links .right img {
  width: 50px;
  height: 50px;
    display: inline-block;
}
.landing .container .middle .white-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #fff;
  width: 120px;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

#desc{
  position: absolute;
  top: 58%;
  left: 48%;
  color: #fff;
  text-align: center;
}

/* ---------------------------------------------- */

.description {
    background-color: #f2f2f2;
    padding: 80px 0;
    width: 100%;
    margin-bottom: 350px;
}

.description .container {
    width: 70%; 
    margin: 0 auto; 
}

.description .container .left {
    float: left;
    width: 40%; 
    margin-top: 50px; 
}

.description .container .left p {
    padding-left: 50px; 
    line-height: 1.3;
    font-size: 27px;
    margin: 0;
}


.description .container .right {
    float: right;
    width: 50%; 
    text-align: right;
    position: relative;
}

.description .container .right img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}


.description .container .left button {
    padding: 6px 10px;
    background: #f2f2f2;
    outline: none;
    border: 1px solid #a5a5a5;
    border-radius: 12px;
    position: absolute;
    left: 18%;
    margin-top: 20px;

}
.description .container .left button:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition:0.5s ;
  -webkit-transition:0.5s ;
  -moz-transition:0.5s ;
  -ms-transition:0.5s ;
  -o-transition:0.5s ;
}

/*---------------------------------*/
.image-sec .container {
    width: 75%;
    margin-left: 18%;
}
.image-sec .container .left {
  clear: both;
  display: inline-block;
  width: 30%;
}