body {
  background-color: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.landing {
  background-image: url(../images/57e1c530-9d8b-43b2-8fe8-3ad0962721ef.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding-top: 20px;
  margin-bottom: 130px;
}
.container {
  width: 80%;
  margin: auto;
}

.landing .container nav {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  background-color: #88888817;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.landing .container nav .links ul {
  list-style-type: none;
}
.landing .container nav .links ul li {
  display: inline-block;
  padding-right: 10px;
}
.landing .container nav .links ul li a {
  color: #fff;
  text-decoration: none;
}
.landing .container nav .logo {
  color: #fff;
}

.landing .container .middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.landing .container .middle .desc {
  position: absolute;
  top: 108%;
  left: 17%;
  text-align: center;
  color: #fff;
}

/*--------------------------*/
.description .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 130px;
}
.description .container .left p {
  width: 40%;
  color: #333;
  font-size: 25px;
  padding-bottom: 20px;
}

.description .container .left button {
  padding: 9px 17px;
  /*outline: 27px solid transparent;
    */
  border: 1px solid #878;
  border-radius: 24px;
  /*margin-top: 8px;
    */
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.description .container .left button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  cursor: pointer;
}

.image-sec {
}
.image-sec .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.image-sec .container .left {
  max-width: min-content;
}

hr#special {
  width: 80%;
  margin: auto;
  margin-bottom: 130px;
  margin-top: 130px;
}
.featured .container h1 {
  margin-bottom: 80px;
}
.featured .container .exp-father {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.featured .container .exp-father .exp h3 {
  margin-bottom: 20px;
  color: #4b4a4a;
}

.featured .container .exp-father .exp p {
  word-spacing: 3px;
  line-height: 1.3;
  color: #555454be;
}

.news {
  margin-bottom: 250px;
}
.news .container .row {
  display: flex;
  gap: 0px;
}

.news .container .row .image span {
  font-size: 15px;
  font-weight: bold;
  color: #4b4a4a;
}
.news .container .row .image img {
  width: 500px;
}

.news .container .row h3 {
  font-size: 40px;
}

.news hr {
  width: 80%;
  margin-top: 80px;
  margin-bottom: 60px;
}

footer {
  background-color: #333;
  width: 100%;
  height: 500px;
  position: relative;
}
/* footer .top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
} */
footer .logo .container .top {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer .logo .container .top h4,
footer .logo .container .top .cont p {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
footer a {
  color: #fff;
}

footer ul {
  list-style-type: disc;
}
footer .list {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 20px;
}

footer .list ul#right {
  display: flex;
}

footer .list ul#right li {
  display: inline-block;
  padding-right: 15px;
}
